# Flutter & Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
*.keystore.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
# Mantén privados los plist de Firebase si no quieres subirlos
ios/Runner/GoogleService-Info.plist

# Firebase / secretos
android/app/google-services.json
lib/servicios/keys.dart
.env

# Cloud Functions (Node)
functions/node_modules/
functions/lib/
functions/dist/

# Web (build cache)
web/.dart_tool/

# Otros
*.log

