# Flutter & Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
*.keystore.properties

# Firebase / secretos
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/secrets.dart
.env

# Otros
*.log
