<?xml version="1.0" encoding="utf-8"?>
<!-- RAI Conductor (com.flygo.rd2.conductor): retorno AZUL recarga prepago. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".MainActivity"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="raidriver"
                    android:host="azul"
                    android:pathPrefix="/resultado" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="flygo-rd.web.app"
                    android:pathPrefix="/azul/resultado" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="flygo-rd.firebaseapp.com"
                    android:pathPrefix="/azul/resultado" />
            </intent-filter>
        </activity>
    </application>
</manifest>
